<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffeeshop.mapper.BoardAttachMapper">

	<insert id="insert">
		INSERT INTO tbl_board_attach (uuid, uploadpath, filename, filetype, bno)
		VALUES (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{bno})
	</insert>

	<delete id="delete">
		DELETE FROM tbl_board_attach where uuid = #{uuid}
	</delete>

	<select id="findByBno"
		resultType="com.coffeeshop.domain.BoardAttachVO">
		SELECT * FROM tbl_board_attach WHERE bno = #{bno}
	</select>

    <delete id="deleteAll">
        DELETE tbl_board_attach WHERE bno = #{bno}
    </delete>

	<select id="select" resultType="com.coffeeshop.domain.BoardAttachVO">
		SELECT * FROM tbl_board_attach WHERE uuid = #{uuid}
	</select>

</mapper>